 .inter-bold{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
 .inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.raleway-bold{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800px;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    padding: 70px 0px 70px 0px;
    align-items: center;
    margin:0px auto;
    margin-bottom: 158px;
    
}
/* text */
.logo{
  color: #4E47FF;
  font-size: 34px;
  
}
/* hero section text p */
.hero-section-text{
  color:#252432;
  font-size: 65px;
 
}
/* Button sizes */
.btn1{
   font-size: 16px;
}
.primary-button{
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    padding: 12px 36px;
}
.hero-section{
text-align: center;
align-items: center;
display: flex;
flex-direction: column;
gap: 37px;
padding-bottom: 200px;
}
header{
  background-image: url("./Assets/Hero-bg.png");
  background-repeat: no-repeat;
 background-position: fixed;
 background-size: cover;
}
.main{
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin:120px auto;
  align-items: center;
  
}
.main-text{
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.main-text h2{
   font-size: 42px;
   color: #252432;
}
.main-text p{
  font-size: 24px;
  color: #25243280;
}
.main-image img{
  border-radius: 48px;
}
#lanuchbtn{
  width: 230px;
  height: 48px;
}
body{
  background-color: #F5F8FF;
}
.head-text-card{
  background-color: #E5E7FF;
  width:1140px;
  height: 300px;
  padding: 50px 80px;
  margin:150px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
}  
.head-text{
  font-size: 38px;
  text-align: center;
  margin-bottom:40px;
}
.main-text-card{
  display: flex;
  justify-content: center;
   gap: 158px;
  text-align: center;
  align-items: center;
}
.text-card h2{
  font-size: 80px;
  color: #4E47FF;
}
.text-card p{
  font-size:20px ;
  color:#00000077 ;
}
.text-card h2 p{
  padding: 80px 50px;
}




.review-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;

}
.review-section-user{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  gap: 24px;

  width: 370px;
  background-color: white;
  padding: 24px;

  border-radius: 14px;
}
.review-section-text{
  font-size: 42px;
}
.review-section-userimg{
  display: flex;
  align-items: left;
  justify-content: left;
  gap: 10px;
  
}
.review-section-userimg img{
  border-radius: 100%;
}
.review-section-user-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.review-section-userimg p{
  color: #7f7e8f;
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    height: 640px;
    margin: auto;
    margin-bottom: 150px;
}
.contact >div{
    width: 50%;
}
.contact >div > h2{
    font-size: 97px;
}
.forms{
    width: 50%;
}
.form > form label{
    font-size: 18px;
}
.forms form{
    display: flex;
    flex-direction: column;

}
.forms form input, textarea{

    margin-bottom: 20px;
    border-radius: 10px;

    border: #D6DDED  solid 1px;
}
.forms form input{
    padding: 5px 32px;
    width: 500px;
    height: 70px;

}
.forms textarea{
    padding: 20px 22px;
}
.forms > form > .emailLabel , .textlLabel{
    margin-bottom: 20px;
}
.forms  input::placeholder,
    textarea::placeholder {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

    font-size: 20px;
    color: #888;

    }
.forms > form > button{
    width: 100%;
    height: 62px;
}
footer{
    padding: 120px 0px;
    background-color: white;
}
footer > div{
    width: 550px;
    margin: auto;
    text-align: center;
}
footer > div h2{
    font-size: 100px;
    color: #4E47FF;
}
footer > div p{
    font-size: 16px;
    color: gray;
    margin-bottom: 10px;
}
.footerLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 30px;

}
.footerLinks a{
    text-decoration: none;
    font-size: 16px;
    color: gray
}

